USE [QMS_SPECTRE]
GO
/****** Object:  StoredProcedure [dbo].[spQTY_ENDLINE_REPORT]    Script Date: 7/23/2026 11:26:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[spQTY_ENDLINE_REPORT]
@Action varchar(50),
@Para1 nvarchar(max) ,
@Para2 nvarchar(max) ,
@Para3 nvarchar(max) ,
@Para4 nvarchar(max) ,
@Para5 nvarchar(max)
AS
BEGIN
	DECLARE @CountType TABLE
			(
			    CountID INT PRIMARY KEY,
			    CountType NVARCHAR(50)
			);
	Declare @colTimeLine nvarchar(max)
	Declare @colTimeLineDis nvarchar(max)
	Declare @excSQL nvarchar(max)
	if(@Action = 'GetLineBC')
	begin
		select distinct Line,Name from QTY_ENDLINE_SU_NS t1
		inner join tbl_SettingLineX t2 on t1.Line = t2.ID
		where Convert(Date,CreateDate) between  @Para1 and @Para2
	end
	if(@Action = 'GetPCO')
	begin
		select distinct PlanCode as MaPCO,PCO from QTY_ENDLINE_SU_NS t1		
		where Convert(Date,CreateDate) between  @Para1 and @Para2 and Line = @Para3
	end
	if(@Action = 'GetDailyProduction')
	begin
		--Declare @Para1 nvarchar(100) = 'STEST01'
		--Declare @Para2 nvarchar(100) = 'pco__20260714101038046649630'
		--Declare @Para3 nvarchar(100) = 'mamau__20260714101038046642337'
		--Declare @Para4 nvarchar(100) = '2026-07-23'
		--Declare @Para5 nvarchar(100) = '2026-07-23'
		select Convert(Date,CreateDate) as CreateDate,Line,PlanCode,ColorID,ColorName, case when StepId = '31468586-C0D2-4C4A-A025-F7978B0D8AB3' then 'Total Pass' 
														when  StepId = '31468586-C0D2-4C4A-A025-F7978B0D8AB4' then 'QC Received' 
														else  'Output' end as CountType,
										TimeID,Sum(isnull(Quantity,0)) + Sum(isnull(Rework,0)) as Quantity
		into #tblNS from QTY_ENDLINE_SU_NS t1
		where (Line = @Para1 or @Para1 = 'All') and (PlanCode = @Para2 or @Para2 = 'All') and (ColorID = @Para3 or @Para3 = 'All') and Convert(Date,CreateDate) between @Para4 and @Para5
		group by Convert(Date,CreateDate),Line,PlanCode,ColorID,ColorName,StepId,TimeID

		select distinct Convert(Date,CreateDate) as CreateDate,Line,PlanCode,ColorID,ColorName,'Total Defect' as CountType,dbo.fnc_GetIDTimeShift(CreateDate,'101') as TimeID,ProductCode
		into #tblLoi_T from QTY_ENDLINE_DETAILS t1
		where (Line = @Para1 or @Para1 = 'All') and (PlanCode = @Para2 or @Para2 = 'All') and (ColorID = @Para3 or @Para3 = 'All')  and Convert(Date,CreateDate) between @Para4 and @Para5
		--group by  Line,PlanCode,ColorID,ColorName,dbo.fnc_GetIDTimeShift(CreateDate,'101'),ProductCode

		select CreateDate,Line,PlanCode,ColorID,ColorName,TimeID,CountType,Count(ProductCode) Quantity
		into #tblLoi from #tblLoi_T
		group by CreateDate,Line,PlanCode,ColorID,ColorName,TimeID,CountType

		

		select * into #tblAll from #tblNS
		union All
		select * from #tblLoi_T
		
		
		select distinct  MaChuyenMay,t2.MaKH,t3.TenKH ,t1.MaPCO as MaPCO,TenPCO,SeasonBuy,t2.MaHang,KeyHang as TenHang,t1.MaMau as ColorID,TenMau,Sum(t1.SoLuong) as SLKH
		into #tblKH_ChuyenMay from ERP_PCO_CHUYENMAY t1
		left join ERP_PCO_TONG t2 on t1.MaPCO = t2.MaPCO
		left join KhachHang t3 on t2.MaKH = t3.MaKH
		left join ERP_MAHANG t4 on t2.MaHang = t4.MaHang
		left join BangMau t5 on t1.MaMau = t5.MaMau
		where t1.MaPCO in (select PlanCode from #tblAll)
		group by MaChuyenMay,t2.MaKH,t3.TenKH ,t1.MaPCO,TenPCO,SeasonBuy,t2.MaHang,KeyHang,t1.MaMau ,TenMau

		--select *from #tblKH_ChuyenMay

		select CreateDate,Line,PlanCode,ColorID,CountType,Sum(Quantity) TotalQuantity into #tblTotal From #tblAll
		group by CreateDate,Line,PlanCode,ColorID,CountType
		

		
			
			INSERT INTO @CountType (CountID, CountType)
			VALUES
			(1, N'Output'),
			(2, N'QC Received'),
			(3, N'Total Pass'),
			(4, N'Total Defect');

		--select *from tbl_TimeLineShifts
		select x.CreateDate, x.Line,AreaName,Name, x.PlanCode,TenPCO,TenHang,SeasonBuy, x.ColorID, x.ColorName,SLKH, x.TimeID, x.CountType,CountID,isnull(p.Quantity,0) Quantity,tt.TotalQuantity
		into #tblAll2 From (
			 SELECT
				CreateDate,Line,PlanCode,ColorID,ColorName,TimeID,CountType,CountID
		FROM
        (SELECT DISTINCT CreateDate,Line,PlanCode,ColorID,ColorName,TimeID FROM #tblAll) c
		  CROSS JOIN
        (SELECT DISTINCT CountType,CountID FROM @CountType) s
		)x
		LEFT JOIN #tblAll p
		ON p.Line = x.Line   AND p.PlanCode  = x.PlanCode   AND p.ColorID  = x.ColorID   AND p.TimeID  = x.TimeID   AND p.CreateDate  = x.CreateDate   AND p.CountType  = x.CountType
	    left join #tblTotal tt on tt.Line = x.Line   AND tt.PlanCode  = x.PlanCode   AND tt.ColorID  = x.ColorID    AND tt.CreateDate  = x.CreateDate   AND tt.CountType  = x.CountType
		inner join tbl_SettingLineX t2 on x.Line = t2.ID
		inner join DM_Area t3 on t2.Id_Factory = t3.AreaId
		inner join #tblKH_ChuyenMay t4 on x.PlanCode = t4.MaPCO and x.ColorID = t4.ColorID and x.Line = t4.MaChuyenMay		
		
	    --select *from  #tblAll2
		set @colTimeLine = (STUFF((select distinct ',' +  quotename(ShiftID) from tbl_TimeLineShifts for xml path('')),1,1,''));
		set @colTimeLineDis = (STUFF((select distinct ',' + 'isnull(' +quotename(Convert(varchar,ShiftID))+',0) as '+ quotename(Name) from tbl_TimeLineShifts for xml path('')),1,1,''));
			
		print(@colTimeLine)
		print(@colTimeLineDis)

		set @excSQL = 'select CreateDate,AreaName,Line,Name,PlanCode,TenHang,TenPCO,SeasonBuy,ColorID,ColorName,SLKH,CountType,'+@colTimeLineDis+',isnull(TotalQuantity,0) TotalQuantity from #tblAll2
										pivot(max(Quantity) for TimeID in('+@colTimeLine+')) as PivotTable
										order by CreateDate,Line,PlanCode,ColorID,CountID'
		exec(@excSQL)
		--

		Drop table #tblLoi_T
		Drop table #tblLoi
		Drop table #tblNS
		Drop table #tblAll
		Drop table #tblAll2
		Drop table #tblTotal
		Drop table #tblKH_ChuyenMay
		
	end
	if(@Action = 'GetDailyProdction_PCO')
	begin
		select Convert(Date,CreateDate) as CreateDate,Line,PlanCode, case when StepId = '31468586-C0D2-4C4A-A025-F7978B0D8AB3' then 'Total Pass' 
														when  StepId = '31468586-C0D2-4C4A-A025-F7978B0D8AB4' then 'QC Received' 
														else  'Output' end as CountType,
										TimeID,Sum(isnull(Quantity,0)) + Sum(isnull(Rework,0)) as Quantity
		into #tblNS_PCO from QTY_ENDLINE_SU_NS t1
		where (Line = @Para1 or @Para1 = 'All') and (PlanCode = @Para2 or @Para2 = 'All')  and Convert(Date,CreateDate) between @Para4 and @Para5
		group by Convert(Date,CreateDate),Line,PlanCode,StepId,TimeID

		select distinct Convert(Date,CreateDate) as CreateDate,Line,PlanCode,'Total Defect' as CountType,dbo.fnc_GetIDTimeShift(CreateDate,'101') as TimeID,ProductCode
		into #tblLoi_T_PCO from QTY_ENDLINE_DETAILS t1
		where (Line = @Para1 or @Para1 = 'All') and (PlanCode = @Para2 or @Para2 = 'All') and Convert(Date,CreateDate) between @Para4 and @Para5
		--group by  Line,PlanCode,ColorID,ColorName,dbo.fnc_GetIDTimeShift(CreateDate,'101'),ProductCode

		select CreateDate,Line,PlanCode,CountType,TimeID,Count(ProductCode) Quantity
		into #tblLoi_PCO from #tblLoi_T_PCO
		group by CreateDate,Line,PlanCode,CountType,TimeID

		

		select * into #tblAll_PCO from #tblNS_PCO
		union All
		select * from #tblLoi_PCO
		
		
		select distinct  MaChuyenMay,t2.MaKH,t3.TenKH ,t1.MaPCO as MaPCO,TenPCO,SeasonBuy,t2.MaHang,KeyHang as TenHang,Sum(t1.SoLuong) as SLKH
		into #tblKH_ChuyenMay_PCO from ERP_PCO_CHUYENMAY t1
		left join ERP_PCO_TONG t2 on t1.MaPCO = t2.MaPCO
		left join KhachHang t3 on t2.MaKH = t3.MaKH
		left join ERP_MAHANG t4 on t2.MaHang = t4.MaHang		
		where t1.MaPCO in (select PlanCode from #tblAll_PCO)
		group by MaChuyenMay,t2.MaKH,t3.TenKH ,t1.MaPCO,TenPCO,SeasonBuy,t2.MaHang,KeyHang

		--select *from #tblKH_ChuyenMay_PCO

		select CreateDate,Line,PlanCode,CountType,Sum(Quantity) TotalQuantity into #tblTotal_PCO From #tblAll_PCO
		group by CreateDate,Line,PlanCode,CountType
		

		
			
			INSERT INTO @CountType (CountID, CountType)
			VALUES
			(1, N'Output'),
			(2, N'QC Received'),
			(3, N'Total Pass'),
			(4, N'Total Defect');

		--select *from tbl_TimeLineShifts
		select x.CreateDate, x.Line,AreaName,Name, x.PlanCode,TenPCO,TenHang,SeasonBuy,SLKH, x.TimeID, x.CountType,CountID,isnull(p.Quantity,0) Quantity,tt.TotalQuantity
		into #tblAll2_PCO From (
			 SELECT
				CreateDate,Line,PlanCode,TimeID,CountType,CountID
		FROM
        (SELECT DISTINCT CreateDate,Line,PlanCode,TimeID FROM #tblAll_PCO) c
		  CROSS JOIN
        (SELECT DISTINCT CountType,CountID FROM @CountType) s
		)x
		LEFT JOIN #tblAll_PCO p
		ON p.Line = x.Line   AND p.PlanCode  = x.PlanCode   AND p.TimeID  = x.TimeID   AND p.CreateDate  = x.CreateDate   AND p.CountType  = x.CountType
	    left join #tblTotal_PCO tt on tt.Line = x.Line   AND tt.PlanCode  = x.PlanCode     AND tt.CreateDate  = x.CreateDate   AND tt.CountType  = x.CountType
		inner join tbl_SettingLineX t2 on x.Line = t2.ID
		inner join DM_Area t3 on t2.Id_Factory = t3.AreaId
		inner join #tblKH_ChuyenMay_PCO t4 on x.PlanCode = t4.MaPCO and x.Line = t4.MaChuyenMay		
		
	    --select *from  #tblAll2
		set @colTimeLine = (STUFF((select distinct ',' +  quotename(ShiftID) from tbl_TimeLineShifts for xml path('')),1,1,''));
		set @colTimeLineDis = (STUFF((select distinct ',' + 'isnull(' +quotename(Convert(varchar,ShiftID))+',0) as '+ quotename(Name) from tbl_TimeLineShifts for xml path('')),1,1,''));
			
		print(@colTimeLine)
		print(@colTimeLineDis)

		set @excSQL = 'select CreateDate,AreaName,Line,Name,PlanCode,TenHang,TenPCO,SeasonBuy,SLKH,CountType,'+@colTimeLineDis+',isnull(TotalQuantity,0) TotalQuantity from #tblAll2_PCO
										pivot(max(Quantity) for TimeID in('+@colTimeLine+')) as PivotTable
										order by CreateDate,Line,PlanCode,CountID'
		exec(@excSQL)
		--

		Drop table #tblLoi_T_PCO
		Drop table #tblLoi_PCO
		Drop table #tblNS_PCO
		Drop table #tblAll_PCO
		Drop table #tblAll2_PCO
		Drop table #tblTotal_PCO
		Drop table #tblKH_ChuyenMay_PCO
	end
	if(@Action = 'GetDailyCheckList')
	begin
		select * into #tblCheckList From QTY_ENDLINE_CHECKLIST t1
		where (LineID = @Para1 or @Para1 = 'All') and (PlanCode = @Para2 or @Para2 = 'All') and (ColorID = @Para3 or @Para3 = 'All')
		and Convert(Date,CreateDate) between @Para4 and @Para5

		select distinct  MaChuyenMay,t2.MaKH,t3.TenKH ,t1.MaPCO as MaPCO,TenPCO,Season,t2.MaHang,KeyHang as TenHang,t1.MaMau as ColorID,TenMau,Sum(t1.SoLuong) as SLKH
		into #tblKH_ChuyenMay_Color from ERP_PCO_CHUYENMAY t1
		left join ERP_PCO_TONG t2 on t1.MaPCO = t2.MaPCO
		left join KhachHang t3 on t2.MaKH = t3.MaKH
		left join ERP_MAHANG t4 on t2.MaHang = t4.MaHang
		left join BangMau t5 on t1.MaMau = t5.MaMau
		where t1.MaPCO in (select PlanCode from #tblCheckList)
		group by MaChuyenMay,t2.MaKH,t3.TenKH ,t1.MaPCO,TenPCO,Season,t2.MaHang,KeyHang,t1.MaMau ,TenMau
		

		select  t1.CreateDate,AreaName, t1.LineID,Name,t6.FullName,TenKH +'-'+ Season as BuyerSeason, PlanCode,TenPCO,TenHang, t1.ColorID, t4.TenMau as ColorName,SLKH,Convert(varchar(5),CAST(CreateDate AS TIME)) as Time,TenCheckList,1 as Count from #tblCheckList t1
		left join ERP_Dic_CheckList t2 on t1.CheckListID = t2.ID
		inner join #tblKH_ChuyenMay_Color t4 on t1.PlanCode = t4.MaPCO and t1.ColorID = t4.ColorID and t1.LineID = t4.MaChuyenMay	
		inner join tbl_SettingLineX t3 on t1.LineID = t3.ID
		inner join DM_Area t5 on t3.Id_Factory = t5.AreaId
		left join tblUsers t6 on t6.LoginID = t1.CreateUser

		Drop table #tblCheckList
		Drop table #tblKH_ChuyenMay_Color
	end
END
